* {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  margin-left: 20px;
  margin-right: 20px;
}

ul, li {
    list-style-type: none;
}
